# Eclipse
.classpath
.project
.settings/
.loadpath
.recommenders
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.launch

# Intellij
.idea/
*.iml
*.iws
out/

# Mac
.DS_Store

# Maven
log/
target/
src/log/
src/target/

# External tool builders
.externalToolBuilders/

# Java annotation processor (APT)
.factorypath

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar